<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="preferExternal"
    package="com.homagames.homabelly.singular"
    android:versionName="1.0"
    android:versionCode="1">>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application>
        <receiver android:exported="true" android:name="com.singular.sdk.SingularInstallReceiver" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>      
                <action android:name="com.android.vending.INSTALL_REFERRER"></action>      
            </intent-filter>
        </receiver>
    </application>
</manifest>
